%flex-1 {
  flex: 1;
  min-width: 0;
}
.about {
  .container {
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    @media (max-width: $laptop) {
      gap: 50px;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      @extend %flex-1;
      padding-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      font-weight: 600;
      font-size: 25px;
      line-height: 1.2;

      @media (max-width: $laptop) {
        padding: 0;
        font-weight: 500;
      }

      span {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        opacity: 0.7;
        font-style: italic;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: flex-start;
      }
    }
  }

  &__image-card {
    @extend %flex-1;
    width: 100%;
    min-height: 600px;
    border-radius: 25px;
    overflow: hidden;

    @media (max-width: $laptop) {
      min-height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
