.ceo {
  padding: 40px 5%;
  .container {
  }

  &__card {
    background-color: #16162b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: $border-prim;
    border-radius: 13px;
    padding: 65px 0;

    &__content {
      max-width: 65%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      @media (max-width: $tablet) {
        max-width: 90%;
      }

      &__person {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;

        .image {
          background-image: url(../media/pictures/ceo.avif);
          background-position: 50%;
          background-size: 80px;
          border-radius: 100%;
          width: 70px;
          height: 70px;
        }

        h3 {
          font-size: 16px;
          font-weight: 600;
        }
      }

      p {
        font-size: 29px;
        line-height: 1.2;

        @media (max-width: $tablet) {
          font-size: 20px;
        }
      }
    }
  }
}
