.our-team {
  .container {
  }

  &__content {
    display: flex;
    gap: 25px;

    @media (max-width: $laptop) {
      flex-direction: column;
      gap: 35px;
    }

    &__left {
      flex: 1;
      min-width: 0;
      padding: 30px 20px;
      border-radius: 25px;
      min-height: 340px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        .image {
          filter: blur(3px);
          transform: scale3d(1, 1, 1);
        }
      }

      .image {
        width: 100%;
        height: 100%;
        background-image: url(../media/pictures/team-1.avif);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale3d(1.1, 1.1, 1);
        transition: 0.3s;
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 25%);
        z-index: 2;
      }

      p {
        color: $white;
        max-width: 95%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 1.2;
        position: relative;
        z-index: 4;
      }

      .btn--primary {
        position: relative;
        z-index: 4;
      }
    }

    &__right {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: $tablet) {
        gap: 35px;
      }

      &__card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 25px;

        @media (max-width: $tablet) {
          grid-template-columns: 1fr;
        }

        .image-holder {
          height: 155px;
          width: 155px;
          border-radius: 20px;
          border-radius: 20px;
          overflow: hidden;
          cursor: pointer;

          @media (min-width: $tablet) and (max-width: $laptop) {
            height: 280px;
            width: 280px;
          }

          @media (max-width: $tablet) {
            width: 100%;
            height: 370px;
          }

          &:hover {
            .image {
              filter: blur(3px);
              transform: scale3d(1, 1, 1);
            }
          }
        }

        .image {
          height: 100%;
          width: 100%;
          background-size: cover;
          transition: 0.3s;
          transform: scale3d(1.2, 1.2, 1);
        }

        &.card-1 {
          .image {
            background-image: url(../media/pictures/team-2.avif);
          }
        }
        &.card-2 {
          .image {
            background-image: url(../media/pictures/team-3.avif);
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: $tablet) {
          }

          .down {
            display: flex;
            justify-content: space-between;
            gap: 14px;

            p {
              font-size: 19px;
            }

            span {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
