.heading-title {
  max-width: 500px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  h2 {
    background-image: $gradient-text;
    background-clip: text;
    -webkit-background-clip: text; // for Chrome/Safari
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    font-weight: 600;

    @media (max-width: $tablet) {
      font-size: 30px;
    }
  }
}
