.our-team {
  .container {
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    @media (min-width: $tablet) and (max-width: $laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }

    .team-card {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .image {
        border-radius: 25px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name {
          font-size: 19px;
        }
        .title {
          font-size: 16px;
          opacity: 0.6;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer-list {
    display: flex;
    gap: 17px;
    li {
      margin-bottom: 6px;
      font-size: 1.1rem;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.3s;
      color: $light-grey;
      cursor: pointer;
      & {
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }

      img {
        filter: brightness(0) invert(1);
      }

      &:hover {
        color: $white;
      }
    }
  }
}
