@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

@import "./assets/abstracts/variables";

// shared
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./assets/base/base";
@import "./assets/base/reset";
@import "./assets/base/utilities";

// components
@import "./assets/components/buttons";
@import "./assets/components/scroll-bar";
@import "./assets/components/heading-title";

// layout
@import "./assets/layout/header";
@import "./assets/layout/footer";

// shared parts
@import "./assets/shared/hero";
@import "./assets/shared/our-work";
@import "./assets/shared/testimonial";

.person {
  display: flex;
  gap: 13px;
  align-items: center;

  &__image {
    width: 70px;
    height: 70px;
    background-image: url(../../assets/media/pictures/test-4.avif);
    background-size: cover;
    border-radius: 50%;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
  }
}
