// colors
$dark: #0c0c1d;
$white: white;
$light-grey: #999;
$second-hover: #995263;
$black-second: #c7c7c733;
$gradient-text: linear-gradient(90deg, #fff 44%, #fff6 58%);
$gradient-background: linear-gradient(0deg, $dark, #98526314);

// break points
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$wide: 1400px;

// border
$border-prim: 1px solid #9e9e9e4f;
