.our-work {
  .container {
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }

    &__card {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      cursor: pointer;

      .line {
        width: 0.000001%;
        height: 2px;
      }

      &:hover {
        .background {
          transform: scale3d(1.05, 1.05, 1);
          filter: blur(6px);
        }

        .logo {
          transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1);
        }

        .line {
          width: 100%;
        }
      }

      &__image {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        .background {
          transform: scale3d(1.1, 1.1, 1);
          transition: 0.3s;
        }

        .logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transition: 0.3s;
        }
      }

      &__text {
        padding: 0 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $tablet) {
          flex-direction: column;
          gap: 5px;
        }

        .btn--second {
          font-size: 22px;
          font-weight: 500;
          text-transform: none;
          gap: 7px;

          @media (min-width: $tablet) and (max-width: $desktop) {
            font-size: 20px;
          }
        }

        .category {
          opacity: 0.6;
          color: $white;
          font-size: 17px;

          @media (min-width: $tablet) and (max-width: $desktop) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
