.testimonials__top {
  display: flex;
  background-color: #16162b;
  border-radius: 25px;
  min-height: 600px;
  padding: 20px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet) and (max-width: $desktop) {
    min-height: 350px;
  }

  &__content {
    display: flex;
    gap: 70px;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }

    &__text {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $desktop) {
        gap: 20px;
      }

      .title {
        font-size: 18px;
        font-weight: 500;
      }

      p {
        font-size: 29px;
        line-height: 1.2;

        span {
          opacity: 0.7;
        }

        @media (min-width: $tablet) and (max-width: $desktop) {
          font-size: 24px;
        }
      }
    }

    &__image {
      flex: 1;
      min-width: 0;
      border-radius: 25px;
      overflow: hidden;

      @media (max-width: $desktop) {
        min-height: 420px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
